
PurrfectForgeGameStudios1/Temp/FSTimeGet-6d06f93fe2e97b849b95890ffdc9fa8e
PurrfectForgeGameStudios1/Temp/UnityLockfile
PurrfectForgeGameStudios1/Temp/workerlic
PurrfectForgeGameStudios1/Logs/shadercompiler-UnityShaderCompiler.exe0.log
PurrfectForgeGameStudios1/Logs/shadercompiler-AssetImportWorker0.log
PurrfectForgeGameStudios1/Logs/AssetImportWorker1.log
PurrfectForgeGameStudios1/Logs/AssetImportWorker1-prev.log
PurrfectForgeGameStudios1/Logs/AssetImportWorker0-prev.log
PurrfectForgeGameStudios1/Logs/AssetImportWorker0.log
PurrfectForgeGameStudios1/Library/SourceAssetDB
PurrfectForgeGameStudios1/Library/SceneVisibilityState.asset
PurrfectForgeGameStudios1/Library/EditorInstance.json
